@charset "UTF-8";
/* CSS Document */

body {
	background: #f1f1f1;
}

p {
	font-family:ff-meta-web-pro, "Lucida Grande", sans-serif;
	font-size:13px;
	line-height:1.5em;
}

ul {
	margin: 0;
	padding:0;
}

a {
  color: #000;
  margin-top: 16px;
  font-family: proxima-nova;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
	text-decoration: none;
}

input[type=text] {
  background-color:transparent;
  border: none;
  border-bottom:1px dotted black;
  padding:0;
  font-size: 18px;
  font-family:proxima-nova, sans-serif;
  font-weight:300;
  outline:none;
  -webkit-appearance: none;
  border-radius: 0px;
  margin-bottom: 0px !important;
  color: #777;
  border-bottom: 1px dotted #aaa;
  width:300px;
  padding:5px;
}
input[type=text]:focus {
  background: white;
  color: #000;
  border: 1px solid #aaa;
  border-radius:5px;
}

#search {
	padding:10px 5px;
}

	#search input {
	}

.wrapper {
	width:960px;
	margin:0 auto;
}

.container {
	width:960px;
	margin:0 auto;
}

.left {
	float:left;
}
.right {
	float:right;
}

.clear {
	clear:both;
}

.inline-block {
	display:inline-block;
}

.loader {
	display:inline-block;
	width:28px;
	height:28px;
	background:url(../assets/loader.gif) no-repeat;
	background-size:contain;
}

.hide {
	display:none;
}


#products {
}


.productList {
	width:800px;
	background:#fff;
	border:1px solid #ccc;
}
	.productList .item {
		position:relative;
		float:left;
		margin:30px 40px;
		cursor:pointer;
	}
	/* arrow on active item */
	.item.active:before {
	  content: '';
	  width: 0em;
	  height: 0em;
	  border-left: 14px solid transparent;
	  border-right: 14px solid transparent;
	  border-bottom: 14px solid #ccc;
	  position: absolute;
	  bottom: -16px;
	  left: 50%;
	  margin-left: -14px;
	  z-index:99;
	}
	.item.active:after {
		  content: '';
		  width: 0em;
		  height: 0em;
		  border-left: 14px solid transparent;
		  border-right: 14px solid transparent;
		  border-bottom: 14px solid #fff;
		  position: absolute;
		  bottom: -18px;
		  left: 50%;
		  margin-left: -14px;
		  z-index: 100;
	}
		.productList .item img {
			height:120px;
			width:120px;
		}

.item.productDetails {
	width:100%;
	box-sizing:border-box;
	padding:30px;
	margin: -5px 0 20px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	cursor:default;
}
	.item.productDetails .image img {
		width:300px;
		height:auto;
	}
	.item.productDetails .content {
		width: 350px;
		margin-left:50px;
		padding: 0 20px;
	}
	.item h2 {
		font-family: ff-meta-web-pro, "Lucida Grande", sans-serif;
		font-size:16px;
		line-height:1.33em;
	}
	.item h5 {
		font-family: ff-meta-web-pro, "Lucida Grande", sans-serif;
		color:#8d8d8d;
		font-size:14px;
		padding-bottom:20px;
		margin:0;
	}
	.item .btn {
		width:180px;
	}
	
#sidebar {
	width:110px;
	padding: 0 20px;
}
	
#cart {
}
	#cartList_empty {
		border: 2px dashed #CCC !important;
		padding:30px 0;
		text-align:center;
	}
		#cartList_empty p {
			 margin: 0px auto;
			  font-family: ff-meta-web-pro, sans-serif;
			  font-size: 13px;
			  color: #777;
			  line-height: 24px;
		}
	
	#cart_items {
		list-style:none;
		width:100%;
		border: 2px solid transparent;
		padding: 8px;
		box-sizing: border-box;
		border-radius: 5px;
	}
	#cart_items.added {
		-webkit-animation:flash-added 1s ease-in 1;
	}
	#cart_items.removed {
		-webkit-animation:flash-removed 1s ease-in 1;
	}
	@-webkit-keyframes flash-added {
		0% { border-color: transparent}
		50% { border-color:#009b2d;}
		100% { border-color:transparent;}
	}
	@-webkit-keyframes flash-removed {
		0% { border-color: transparent}
		50% { border-color:#C00;}
		100% { border-color:transparent;}
	}
		#cart_items li {
			width:40px;
			height:40px;
			background:#fff;
			border: 1px solid #999;
			border-radius:2px;
			display:inline-block; #009b2d;
		}
			#cart_items a {
				border:none;
				text-decoration:none;
			}
			#cart_items li img {
				width:100%; height:100%;
			}
		#cart_items li.empty {
			background: #CCC;
		}
	
	
	
	
.btn {
	padding:10px 0;

  display:inline-block;

/*  font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif; */
  font-family: proxima-nova, "Helvetica", "Arial", sans-serif;
  font-size:13px;
  font-weight: bold;
  letter-spacing:0.25em;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

	cursor:pointer;

  border:none;
  -webkit-appearance: none;

  box-sizing:border-box;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;

  border:0;

  background-color: #000000;
  color: #FFFFFF;

}


.btn:hover, .btn:visited {
  color: #fff;
}

.btn.default:active {
  color: #DDDDDD;
}

.btn:active {
  background-color: #333;
  color: #fff;
}

.btn.action {
  height:4.233em;
  line-height: 4.233em;

  box-shadow:0 0.333em 0 #000;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='000', Positive='true');
}	


/* Flash Messages */
#flash-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}
	.flash {
		font-size:14px;
		padding: 5px 10px;
		background: rgba(20, 20, 20, .9);
		display: inline-block;
		color: #fff;
		font-family: sans-serif;
		border-radius: 5px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		box-shadow: 0px 0px 10px 2px rgba(100,100,100, .2);
		border: 1px solid rgba(255,255,255, .2);
		border-bottom: none;
	}