@charset "UTF-8";
/* CSS Document */

body {
	background: #f1f1f1;
}

p {
	font-family:ff-meta-web-pro, "Lucida Grande", sans-serif;
	font-size:13px;
	line-height:1.5em;
}

a {
  color: #000;
  margin-top: 16px;
  font-family: proxima-nova;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
	text-decoration: none;
}

input[type=text] {
  background-color:transparent;
  border: none;
  border-bottom:1px dotted black;
  padding:0;
  margin-right:0.163em;
  font-size: 22px;
  font-family:proxima-nova, sans-serif;
  font-weight:300;
  outline:none;
  -webkit-appearance: none;
  border-radius: 0px;
  margin-bottom: 0px !important;
  color: #777;
  border-bottom: 1px dotted #aaa;
  width:350px;
  padding:8px;
}
input[type=text]:focus {
  background: white;
  color: #000;
  border: 1px solid #aaa;
  border-radius:5px;
}

#search {
	padding:10px;
	background:#000;
}

	#search input {
	}

.wrapper {
	width:960px;
	margin:0 auto;
}

.container {
	background:#fff;
	border:1px solid #ccc;
	width:960px;
	margin:0 auto;
}

.left {
	float:left;
}
.right {
	float:right;
}

.clear {
	clear:both;
}

.inline-block {
	display:inline-block;
}

.loader {
	display:inline-block;
	width:28px;
	height:28px;
	background:url(../assets/loader.gif) no-repeat;
	background-size:contain;
}

.hide {
	display:none;
}

.productList {
	margin:0;
}
	.productList .item {
		position:relative;
		float:left;
		margin:20px;
		padding:10px;
		cursor:pointer;
	}
	/* arrow on active item */
	.item.active:before {
	  content: '';
	  width: 0em;
	  height: 0em;
	  border-left: 14px solid transparent;
	  border-right: 14px solid transparent;
	  border-bottom: 14px solid #ccc;
	  position: absolute;
	  bottom: -16px;
	  left: 50%;
	  margin-left: -14px;
	  z-index:99;
	}
	.item.active:after {
		  content: '';
		  width: 0em;
		  height: 0em;
		  border-left: 14px solid transparent;
		  border-right: 14px solid transparent;
		  border-bottom: 14px solid #fff;
		  position: absolute;
		  bottom: -18px;
		  left: 50%;
		  margin-left: -14px;
		  z-index: 100;
	}
		.productList .item img {
			height:170px;
			width:170px;
		}

.item.productDetails {
	width:100%;
	box-sizing:border-box;
	padding:30px;
	margin: -5px 0 20px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
	.item.productDetails .image img {
		width:400px;
		height:auto;
	}
	.item.productDetails .content {
		width: 300px;
		margin-left: 100px;
		padding: 0 20px;
	}
	.item h2 {
		font-family: ff-meta-web-pro, "Lucida Grande", sans-serif;
		font-size:16px;
		line-height:1.33em;
	}
	.item h5 {
		font-family: ff-meta-web-pro, "Lucida Grande", sans-serif;
		color:#8d8d8d;
		font-size:14px;
		padding-bottom:20px;
		margin:0;
	}
	.item .btn {
		width:180px;
	}
	
	
	
	
.btn {
	padding:10px 0;

  display:inline-block;

/*  font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif; */
  font-family: proxima-nova, "Helvetica", "Arial", sans-serif;
  font-size:13px;
  font-weight: bold;
  letter-spacing:0.25em;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;


  border:none;
  -webkit-appearance: none;

  box-sizing:border-box;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;

  border:0;

  background-color: #000000;
  color: #FFFFFF;

}

.btn:hover, .btn:visited {
  color: #fff;
}

.btn.default:active {
  color: #DDDDDD;
}

.btn:active {
  background-color: #333;
  color: #fff;
}

.btn.action {
  height:4.233em;
  line-height: 4.233em;

  box-shadow:0 0.333em 0 #000;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='000', Positive='true');
}	


/* Flash Messages */
#flash-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}
	.flash {
		font-size:14px;
		padding: 5px 10px;
		background: rgba(20, 20, 20, .9);
		display: inline-block;
		color: #fff;
		font-family: sans-serif;
		border-radius: 5px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		box-shadow: 0px 0px 10px 2px rgba(100,100,100, .2);
		border: 1px solid rgba(255,255,255, .2);
		border-bottom: none;
	}